.homelogo {
    width: 95px;
    padding: 4px 28px 0 30px;
    top: 4px;
    display:inline-block;
    vertical-align:middle;
}

.form {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 0 0 0;
}

.inline {
    display: inline;
    position: relative;
}